@media screen and (max-width: 320px) {
  body {
    font-size: 25%;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 70%;
  }
}
@media screen and (max-width: 1440ppx) {
  body {
    font-size: 85%;
  }
}
@media screen and (max-width: 1920ppx) {
  body {
    font-size: 100%;
  }
}
