.home {
  display: flex;
  /* flex-direction: wrap; */
  /* align-items: flex-start; */
  /* align-content: flex-start; */
  justify-content: center;
  /* text-align: top; */
  background: url(../../assets/banner1.jpg) no-repeat;
  /* background-image: url("../../assets/banner11.jpg"); */
  /* padding: 20rem 9%; */
  padding-top: 24%;
  padding-bottom: 20px;
  margin-top: 0;
}
/* .content {
  width: 60rem;
} */
.content h3 {
  padding-top: 20px;
  color: #130f40;
  font-size: 3rem;
  line-height: 10px;
  text-align: center;
  /* align-self: flex-start; */
  /* align-content: flex-start; */
  /* text-shadow: #666; */
}
.content h3 span {
  color: #146928;
}
.content p {
  color: #130f40;
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 50px;
}
.btn {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #130f40;
  color: #0b4e41;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #130f40;
  color: #fff;
}
@media screen and (max-width: 1020px) {
  /* .home {
    font-size: 0.9em;
    width: 100vw;
    flex-direction: column;
  } */
  /* .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
  } */
}
