* {
  box-sizing: border-box;
}
.services {
  display: flex;

  /* align-items: center; */
  justify-content: space-around;
  /* width: 100%; */
  align-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* order: 3; */
  background: url(../../assets/fon3.jpg) no-repeat;

  /* background-color: #f4e5b6; */
  padding: 2px;
  margin: auto;
  font-family: Arial;
}
.services h2 {
  text-align: center;
  font-weight: bolder;
  color: #17a589;
  padding: 50px;
  line-height: 30px;
}
.services #i {
  justify-content: center;
  align-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  order: 3;
  /* padding: 0 4px; */
  margin: 18px -16px;
  /* margin: 8px -16px; */
}
.row,
.row > .column {
  padding: 18px;
  border-radius: 5px;
  /* height: 300px;
  width: 400px; */
}
.column {
  flex: 30%;
  align-items: center;
  align-content: center;
  max-width: 90%;
  padding: 0 4px;
  /* border: 1px solid black; */
  border: 1px solid #1c0a93;

  /* float: left; */
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box {
  /* background-color: #f4e5b6; */
  background-color: white;
  padding: 50px;
  border-radius: 5px;
}
.box:hover {
  box-shadow: 3px 3px 0 #1c0a93;
  background-color: #f4e5b6;
}
/* .right-container {
  margin-left: 100px;
  padding-left: 190px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
