.footer {
  /* margin-bottom: 10px; */
  background-color: #e0c28d;
  height: 10em;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  color: #1b165a;
  font-size: 1.3em;
}
span {
  font-size: 1.4em;
}
a {
  /* color: #146928; */
  color: rgb(16, 110, 90);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #36533d;
}
